/*
 * style.css
 * for sysujwxt
 */

body { margin:0 auto; background-color:#fdfdfd; }
.biglogo { height:86px; background: url("../img/logo.png") top center no-repeat; margin-top:80px; margin-bottom:40px}
.align-center { text-align:center}
.ad-area { margin-top: 80px; background:#eee;}
.holder-span2 {width:140px;height:1px;clear:both}
.index-footer {margin-top:60px}
.footer-button-area {margin-bottom:20px}
.footer-button {float:left;width:140px;height:100px;margin-top:20px;background: url("../img/button.png") no-repeat}
.footer-button:hover{background-position: 0 -100px}
.footer-button:active {background-position: 0 -200px}
.footer-button a {float:left;width:140px;height:100px;background: url("../img/button-content.png") no-repeat}
.footer-button .btn-1 {background-position: 0 0}
.footer-button .btn-2 {background-position: 0 -100px}
.footer-button .btn-3 {background-position: 0 -200px}
.footer-button .btn-4 {background-position: 0 -300px}
/************/
.footer p{text-align:center}
.intro {color:#666;border-top:solid thin #ccc;padding-top:10px;padding-bottom:10px;font-size:12px}
.nav {margin:0 !important}
.navbar-menu {width:640px; margin:0 auto}
.small-logo {float:left;width:120px;height:40px;background:url("../img/small-logo.png") 0 0 no-repeat;padding:0 !important}
.small-logo:active {background-position:0 -40px}
.container .nav li a {font-size:12px;padding:10px}
.container .nav .dropdown-menu li a {padding:3px 20px}
.container .right-menu {float:right !important;}
.main {margin-top:60px;margin-bottom:20px;}
.gpa {font-size:16px;line-height:20px;margin-top:5px;}
table .progress {margin:0 !important;background:#ddd;}
.overview-bg {position:relative;width:640px;height:240px;background:url("../img/bg.jpg") 0 0 no-repeat;margin-top:-20px;margin-bottom:20px}
.overview-bg .welcome {position:absolute;left:20px;bottom:10px;text-shadow:0 0 10px #000;color:#fff}
.overview-bg .welcome-info {position:absolute;right:20px;bottom:10px;text-shadow:0 0 10px #000;color:#999;text-align:right}
.overview-bg .weather-info {position:absolute;right:20px;top:10px;text-shadow:0 0 10px #000;color:#999;text-align:right}
.main .span8 {width:640px;}
thead {background:#eee}
.donate {float:left;margin-top:5px;width:140px;height:40px;background:url("../img/donate.png") 0 0 no-repeat}
.donate:hover {background-position:0 -40px}
.donate:active {background-position:0 -80px}
.tab-content {padding-top:10px;}
.main small {color:#999}
.table .error-item {color:#c00}
.main .alert {padding-right:14px}
.main .alert .btn {margin-left:10px}
.well {background-color:#ffffff; border-color:#ccc}
h4{margin-top:0; margin-bottom:20px}
h4 a {font-weight:normal; margin-top:-5px}
h5{margin:5px 0 5px 10px}
h6{margin:5px 0 5px 0; font-size:14px; font-weight:normal}
.table {border-radius:5px; webkit-border-radius:5px; moz-border-radius:5px; overflow:hidden; margin-bottom:0}
.table thead {background-color:#f3f3f3;}
.container {
    max-width: 640px;
}

@media (max-width: 980px) {
   /*Remove any padding from the body*/
  #main-content {
    margin-top: -60px;
  }
}

#score-result, #gpa-chart {
  padding-top: 10px;
}
#gpa-chart{
	width: 620px;
	height: 400px;
}
.loading-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}
