<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - SYSU 第三方教务系统</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="../static/js/app.js"></script>
	{% block scripts %}{% endblock %}
	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="navbar-menu">
				<ul class="nav">
					<li {% if request.path == "/" %}class="active"{% endif %}><a class="small-logo" href="/"></a></li>
					<li {% if request.path == "/score" %}class="active"{% endif %}><a href="/score">我的成绩</a></li>
					<li {% if request.path == "/timetable" %}class="active"{% endif %}><a href="/timetable">我的课表</a></li>
					<li {% if request.path == "/course" %}class="active"{% endif %}><a href="/course">选课退课</a></li>
					<li><a href="#">评教</a></li>
				</ul>
				<ul class="nav right-menu">
					<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ name }} ({{ sno }}) <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">修改密码</a></li>
							<!--<li class="divider"></li>-->
							<li><a href="/sign_out">退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <button class="close" data-dismiss="alert">×</button>
      <span>{{ message|safe }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

	{% block content %}{% endblock %}
	<footer>
		<div class="row align-center intro">
			<div class="span6">
				<p><small>该项目旨在提供更简洁、高效、安全、跨平台的中山大学教务系统使用体验。<br/>这是一个开源、非盈利的项目。<br/>
					<a href="http://sysujwxt.com/about">>>了解更多, 并给我们留言</a></small></p>
				</div>
				<div class="span2">
					<div class="btn-group">
						<a class="btn dropdown-toggle btn-block" data-toggle="dropdown" href="#">
							下载手机应用
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">for iOS</a></li>
							<li><a href="#">for Android</a></li>
							<li><a href="#">for WindowsPhone</a></li>
						</ul>
					</div>
					<h5><a class="btn btn-block" href="#">在Github上查看</a></h5>
				</div>
			</div>
		</footer>
	</body>
	</html>
