{% extends "base.html" %}
{% block title %}总览{% endblock %}
{% block content %}
<div class="row main">
{% if not g.is_handheld_device %}
 <div class="span8 overview-bg">
  <p class="welcome"><span class="lead"><strong>欢迎回来，{{ name }}！</strong></span><br/>今天是2012年8月30日星期四，你在中大度过的第<strong>999</strong>天。</p>
  <p class="welcome-info">{{ school }}</br>{{ major }}</p>
  <p class="weather-info">
    <span id="city-name"></span>
    <span id="weather"></span>
    </br>
    <span id="min-tem"></span>-<span id="max-tem"></span>℃
  </p>
</div>
{% endif %}
<div class="span8" >
  <div id="tips">
  </div>


<div id="class-today">
 <table class="table table-hover">
   <thead>
    <tr><th>今日课程</th><td>时间</td><td>教室</td></tr>
  </thead>
  <tbody>
    <tr><td>工口主义概论</td><td>上午8:00-9:00</td><td>东校区 公共教学楼F000</td></tr>
    <tr><td>挨踢翔母管理</td><td>上午10:00-12:25</td><td>东校区 公共教学楼F000</td></tr>
    <tr><td>软贱攻成实训</td><td>下午2:25-4:15</td><td>东校区 北实验中心B202</td></tr>
    <tr><td>怎样做一枚傲娇的受</td><td>晚间7:00~9:35</td><td>东校区 图书馆地下车库</td></tr>
  </tbody>
</table>
 </div>
</div>


</div>
{% endblock %}
