{% extends "base.html" %}
{% block title %}学分绩点{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/google-chart.js"></script>
<script type="text/javascript" src="/static/js/score.js"></script>
{% endblock %}
{% block content %}
<div class="row main">
  <div class="span8">
    <div class="well well-small">
      <form class="form-inline" style="margin-bottom:0">
        <div class="input-prepend">
          <span class="add-on">学年</span>
          <select class="span2" name="year" id="year">
            <option>2005-2006</option>
            <option>2006-2007</option>
            <option>2007-2008</option>
            <option>2008-2009</option>
            <option>2009-2010</option>
            <option>2010-2011</option>
            <option>2011-2012</option>
            <option selected="selected">2012-2013</option>
            <option>2013-2014</option>
            <option>2014-2015</option>
            <option>2015-2016</option>
          </select>
        </div>
        <div class="input-prepend btn-group">
          <div class="controls">
            <div class="term-btn-group btn-group active" data-toggle="buttons-radio">
              <button value="1" class="btn">第一学期</button>
              <button value="2" class="btn">第二学期</button>
              <button value="3" class="btn">第三学期</button>
            </div>
          </div>
        </div>
        <button type="submit" id="score-query-btn" class="btn btn-primary pull-right"><i class="icon-search icon-white"></i> 查询</button>
      </form>
        <div id="score-result">
      <table class="table table-condensed table-hover">
        
      </table>
    </div>

    </div>

    </div>
   <div class="span8">
          <div class="well well-small">
            <h5 style="margin-bottom:10px">学分总览</h5>
            <table id="credit-chart" class="table table-hover table-condensed">
            <thead>
              <tr><th>类型</th><td>绩点</td><td>学分</td><td></td><td>完成度</td></tr>
            </thead>
          </table>
          </div>
        </div>
        
        <div class="span8">
          <div class="well well-small">
          <span>成绩分布与绩点换算</span>
          <button  id="gpa-query-btn" class="btn btn-primary pull-right"><i class="icon-search icon-white"></i> 查询</button>
           <!--  <div class="input-prepend pull-right">
              <span class="add-on">选择学期</span>
              <select class="span3" name="score-year" id="score-year">
                <option selected="selected">总览</option>
                <option>--------------</option>
                        <option>2009-2010 学期1</option>
                        <option>2009-2010 学期2</option>
                        <option>2009-2010 学期3</option>
                        <option>--------------</option>
                        <option>2010-2011 学期1</option>
                        <option>2010-2011 学期2</option>
                        <option>2010-2011 学期3</option>
                        <option>--------------</option>
                        <option>2011-2012 学期1</option>
                        <option>2011-2012 学期2</option>
                        <option>2011-2012 学期3</option>
                    </select>
            </div> -->
          <div id="gpa-chart">
            
          </div>

          </div>
        </div>
</div>


{% endblock %}
